In [2]:
from google.cloud import bigquery
import pandas as pd

# Using Python, create a BigQuery client
client = bigquery.Client()

# In BigQuery using the console, in the project that the client connects to, created a new dataset called 'plants'.

Here is a snapshot of creating the dataset in BigQuery:
![dataset_creation.png](/Users/Ruben/Desktop/bigquery-cloud-cr/images/dataset_creation.png)

In [4]:
# use the client to list the datasets in the BigQuery project. Confirm that the new 'plants' dataset is there.

print(f"BigQuery Project: {client.project}")
print("Listing datasets:")
for dataset in client.list_datasets():
    dataset_id = dataset.dataset_id
    print(f"dataset id: `{dataset_id}`, full_name: `{dataset.full_dataset_id}`, labels (tags): {dataset.labels}")

# the plants dataset is seen in the print out below

BigQuery Project: deb-01-371820
Listing datasets:
dataset id: `FIFA_WC_1930_2018`, full_name: `deb-01-371820:FIFA_WC_1930_2018`, labels (tags): {}
dataset id: `Soccer_int_matches`, full_name: `deb-01-371820:Soccer_int_matches`, labels (tags): {}
dataset id: `lego`, full_name: `deb-01-371820:lego`, labels (tags): {}
dataset id: `mls_salaries`, full_name: `deb-01-371820:mls_salaries`, labels (tags): {}
dataset id: `my_vinyls`, full_name: `deb-01-371820:my_vinyls`, labels (tags): {}
dataset id: `plants`, full_name: `deb-01-371820:plants`, labels (tags): {}
dataset id: `sf_bikeshare`, full_name: `deb-01-371820:sf_bikeshare`, labels (tags): {}
dataset id: `streaming_catalog`, full_name: `deb-01-371820:streaming_catalog`, labels (tags): {}

In [ ]:
# In a .sql file in the same repository as the Python code, write the SQL code that will create a table in the plants dataset called flower_shop. 
# Give it a schema and insert values into it.

# ANSWER: Code is in the create_table.sql file

Here is a snapshot of the code in `create_table.sql` ran in BigQuery to create table:

![create_flower_shop_table.png](/Users/Ruben/Desktop/bigquery-cloud-cr/images/create_flower_shop_table.png)

In [6]:
# With .list_tables(), confirm new flower_shop table is there.

dataset_ref = client.get_dataset("plants")

plants_tables = client.list_tables(dataset_ref)
for table in plants_tables:
    print(f"table name: `{table.table_id}`, created at: {table.created}")

table name: `flower_shop`, created at: 2022-12-23 17:17:24.714000+00:00

In [5]:
# In a .sql file in the same repository as the Python code, write the SQL code that will create a table in the plants dataset called flower_shop. 
# Give it a schema and insert values into it:

fs_schema = [
    bigquery.SchemaField("plant_id", "INTEGER", mode="REQUIRED", description="unique plant ID"),
    bigquery.SchemaField("species_name", "STRING", mode="REQUIRED", description="the name of the plant species"),
    bigquery.SchemaField("variety_name", "STRING", mode="NULLABLE", description="name of variety of plant"),
    bigquery.SchemaField("zone", "INTEGER", mode="NULLABLE", description="zone where plant grows"),
    bigquery.SchemaField("price", "FLOAT", mode="NULLABLE", description="price of the plant"),
]

project_id = "deb-01-371820"
dataset_id = "plants"
table_id = "flower_shop"
full_table_id = f"{project_id}.{dataset_id}.{table_id}"

# create the table
fs_table = bigquery.Table(full_table_id, schema=fs_schema)
try:
    fs_table = client.create_table(fs_table)
except:
    print("table already exists so did not overwrite")

# print table schema (using the ref object)
print(
    f"Created table {full_table_id}".format(fs_table.project, fs_table.dataset_id, fs_table.table_id)
)

fs_table_ref = client.get_table(full_table_id)
fs_schema = fs_table_ref.schema

# print table schema
for column in fs_schema:
    print(f"\t{column.name}\t{column.field_type}")

<google.api_core.page_iterator.HTTPIterator object at 0x7fc67a5aad50>